services:
  app:
    image: franciscolnv/symfony-plnv:${IMAGE_TAG}
    volumes:
      - www:/var/www/html
    depends_on:
      - db

  db:
    image: mariadb:10.11.5
    restart: unless-stopped
    volumes:
      - mariadb-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: mariadb
      MYSQL_DATABASE: mariadb
      MYSQL_USER: mariadb
      MYSQL_PASSWORD: mariadb

volumes:
  mariadb-data:
  www:
